.App {
  text-align: center;
}

.app {
  text-align: center;
  background-size: cover;
  height: 100vh;
  color: black;
  transition: background 0.5s ease-in;
}

.warm {
  background-image: url('C:\Users\admel\clima-app\src\images\warm.jpg');
}

.cold {
  background-image: url('C:\Users\admel\clima-app\src\images\cold.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 249, 249);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.location {
  font-size: 2.5rem; 
  font-weight: bold; 
  margin-bottom: 20px; 
}

/* Estilo para a temperatura */
.temp {
  font-size: 4rem; 
  font-weight: bold; 
  margin-bottom: 10px; 
}
/* Estilo para a barra de pesquisa */
.search-bar {
  width: 100%; 
  max-width: 600px; 
  height: 20px; 
  font-size: 1.5rem;
  padding: 10px; 
  border: 2px solid #ccc;
  border-radius: 5px; 
  outline: none; 
}

.search-bar:focus {
  border-color: #007BFF; /* Muda a cor da borda quando a barra estiver em foco */
}
/* Estilo para a caixa que contém o nome da cidade e a temperatura */
.info-box {
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
  align-items: center;     /* Centraliza os itens horizontalmente */
  justify-content: center;  /* Centraliza os itens verticalmente */
  padding: 20px;           /* Espaçamento interno */
  background-color: #fff;  /* Fundo branco */
  border-radius: 10px;     /* Bordas arredondadas */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra para efeito 3D */
  transform: translateY(10px); /* Leve deslocamento para baixo */
}

/* Estilo para o nome da cidade */
.location {
  font-size: 2.5rem; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Deixa o nome em negrito */
  margin-bottom: 10px; /* Adiciona um espaçamento inferior */
}

/* Estilo para a temperatura */
.temp {
  font-size: 4rem; /* Aumenta o tamanho da fonte */
  font-weight: bold; /* Deixa a temperatura em negrito */
  padding: 10px; /* Adiciona espaçamento interno */
  color: #333;   /* Cor do texto */
}

